@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700&display=swap');

body {
  /* background: linear-gradient(180deg, rgba(248,177,149,1) 0%, rgba(192,108,132,1) 35%, rgba(53,92,125,1) 100%) */
  padding: 2rem;
  background: rgb(27, 27, 27);
  font-family: 'Work Sans', sans-serif;
}