.imageSearch {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}

.imageSearch__form input {
  margin: 0 auto;
  background-color: transparent;
  border: transparent;
  border-bottom: solid 2px #34495e;
  padding-bottom: 8px;
  width: 25%;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 16px;
  color: #fff;
  margin-right: 10px;
}

.imageSearch__form input:focus {
  outline: none;
}

.imageSearch__form button {
  border: 0;
  width: 7%;
  position: absolute;
  top: 4px;
  background: transparent;
  border: solid 2px #34495e;
  color: #fff;
}